<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="\img\weather.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="\css\styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <script src="\js\main.js"></script> --}}

</head>

<body>
    <div class="main-content">
        {{> header}}
        <p>{{message}}</p>
        <p>
            To check the weather, go to the home page and enter a location in the search bar, then press "Search".<br>
            If no location is entered, you’ll be prompted to provide one.<br>
            The app fetches real-time weather data including temperature, humidity, wind speed, and weather conditions.
        </p>

    </div>
    {{> footer}}
</body>

</html>