<!DOCTYPE html>
<html>

<head>
    <title>weather</title>
    <link rel="icon" href="\img\weather.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="\css\styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="main-content">
        {{> header}}
        <p>use this site to get weather</p>

        <form>
            <input type="text" name="location" placeholder="location">
            <button>search</button>
        </form>

        <p id="message-1">{{error}}</p>
        <p id="message-2">{{location}}</p>

    </div>
    {{> footer}}
    <script src="\js\app.js"></script>
</body>

</html>